# VS Code settings
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
package-lock.json


# Database
instance/
neuroPredict.db
*.sqlite3
*.db

delete_db.py
delete_database.py

clear_mongo.py
delete_database.py
reset_patients.py