{% extends "layouts/private_layout.html" %}
{% from "components/card.html" import render as Card %}
{% from "components/button.html" import render as Button %}
{% from "components/Input.html" import render as Input %}
{% from "components/dropdown.html" import render as Dropdown %}
{% from "components/modal.html" import render as Modal %}
{% block main_content %}
    {% set hypertensiv_options = [{"label": "Yes", "value": 1}, {"label": "No", "value": 0}] %}
    {% set residenceType_options = [{"label": "Urban", "value": "urban"}, {"label": "Rural", "value": "rural"}] %}
    {% set gender_options = [
        {
            "label": "Male",
            "value": "male"
        },
        {
            "label": "Female",
            "value": "female"
        },
        {
            "label": "Other",
            "value": "other"
        }
    ] %}
    {% set smoking_status_options = [
        {
            "label": "Formerly smoked",
            "value": "formerly smoked"
        },
        {
            "label": "Never smoked",
            "value": "never smoked"
        },
        {
            "label": "Smokes",
            "value": "smokes"
        },
        {
            "label": "Unknown",
            "value": "unknown"
        }
    ] %}
    {% set work_type = [
        {
            "label": "Private",
            "value": "private"
        },
        {
            "label": "Self Employed",
            "value": "self employed"
        },
        {
            "label": "Children",
            "value": "children"
        },
        {
            "label": "Govt job",
            "value": "govt job"
        },
        {
            "label": "Never worked",
            "value": "never worked"
        }
    ] %}
    {% set relationship_options = [
        {
            "label": "Parent",
            "value": "parent"
        },
        {
            "label": "Brother",
            "value": "brother"
        },
        {
            "label": "Sister",
            "value": "sister"
        },
        {
            "label": "Family friend",
            "value": "family friend"
        },
        {
            "label": "Friend",
            "value": "friend"
        },
        {
            "label": "Spouse",
            "value": "spouse"
        }
    ] %}
    <div class="max-w-7xl mx-auto flex flex-col gap-6">
        {% set add_button %}
            <form action='{{ url_for("patient_management") }}' method="get">
                {% call Button(class_name='max-w-[150px] w-full', button_class='default_button !px-3 !text-sm') %}
                    Back
                {% endcall %}
            </form>
        {% endset %}
        {% call Card(
            container_class='flex flex-col mt-3 max-h-[calc(100vh-100px)]',
            title='Patient Infomation',
            button=add_button
            ) %}
            <span class="text-sm text-gray-600">Patient ID: {{ patient.id }}</span>
            <form method="post"
                  action="{{ url_for('update_patient_route', patient_id=patient.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar h-[250px] md:h-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        {{ Input(label='First Name', placeholder='Enter your first name', name='first_name',input_class='full_rounded_input', value=patient.first_name, required=True) }}
                        {{ Input(label='Last Name', name='last_name', placeholder='Enter your last name', input_class='full_rounded_input', value=patient.last_name, required=True) }}
                        {{ Input(label='Email address', placeholder='Enter your email address', input_class='full_rounded_input', value=patient.email, disabled=True, required=True) }}
                        {{ Dropdown(id='gender',
                                                name='gender',
                                                label='Gender',
                                                options=gender_options,
                                                placeholder='Select Gender',
                                                class_name='flex-1', value=patient.gender, required=True) }}
                        {{ Input(label='Date of Birth', placeholder='Enter DOB', input_type='date', input_class='full_rounded_input', name='date_of_birth', id='date_of_birth', container_class='flex-1', value=patient.date_of_birth, required=True) }}
                    </div>
                </div>
                {% if current_user and not current_user.is_nurse() %}
                    <div class="flex gap-4  justify-end ">
                        {% call Button(type='submit', class_name='mt-5 max-w-[200px] w-full', button_class='default_button') %}
                            Update
                        {% endcall %}
                    </div>
                {% endif %}
            </form>
        {% endcall %}
        {% if current_user and not current_user.is_nurse() %}
            {% set add_emergency_button %}
                {% call Button(on_click='openModal("addContactModal")', type='button', class_name='max-w-[150px] w-full', button_class='default_button !px-3 !text-sm') %}
                    Add Contact
                {% endcall %}
            {% endset %}
        {% endif %}
        {% call Card(
            container_class='flex flex-col max-h-[calc(100vh-100px)]',
            title='Emergency Contacts',
            button=add_emergency_button if current_user and not current_user.is_nurse() else ''
            ) %}
            <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar">
                <table class="min-w-full divide-y divide-slate-200">
                    <thead class="bg-slate-50 sticky top-0 z-10">
                        <tr>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">ID</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">First Name</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Last Name</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Phone Number</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Relationship</th>
                            {% if current_user and not current_user.is_nurse() %}
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-200 bg-white">
                        {% if emergency_contacts %}
                            {% for contact in emergency_contacts %}
                                <tr class="hover:bg-slate-50">
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ contact._id }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ contact.first_name }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ contact.last_name }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ contact.phone_number }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ contact.relationship | capitalize }}</td>
                                    {% if current_user and not current_user.is_nurse() %}
                                        <td class="px-4 flex sm:px-6 py-3 text-sm text-right space-x-2">
                                            <button onclick="openModal('editContactModal-{{ contact._id }}')"
                                                    type="button"
                                                    class="inline-flex items-center px-4 py-1 rounded-full text-xs font-medium bg-blue-100 text-blue-800 hover:bg-blue-200 cursor-pointer">
                                                Update
                                            </button>
                                            <button onclick="openModal('deleteContactModal-{{ contact._id }}')"
                                                    type="button"
                                                    class="inline-flex items-center px-4 py-1 rounded-full text-xs font-medium bg-red-100 text-red-800 hover:bg-red-200 cursor-pointer">
                                                Delete
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="{% if current_user and not current_user.is_nurse() %}6{% else %}5{% endif %}"
                                    class="px-4 sm:px-6 py-6 text-center text-slate-500">
                                    No emergency contacts found.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endcall %}
        {% if current_user and not current_user.is_nurse() %}
            {% call Card(
                container_class='flex flex-col max-h-[calc(100vh-100px)]',
                title='Assessment',
                ) %}
                <form method="post"
                      action="{{ url_for('run_patient_assessment', patient_id=patient.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar h-[255px]">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 flex-1">
                            {{ Dropdown(id='occupationType',
                                                        name='work_type',
                                                        label='Occupation Type',
                                                        options=work_type,
                                                        placeholder='Select',
                                                        class_name='w-full',
                                                        value=form_data.work_type if form_data else '',
                                                        required=True) }}
                            {{ Dropdown(id='ever_married',
                                                        name='ever_married',
                                                        label='Ever Married',
                                                        options=[{"label": "Yes", "value": "yes"}, {"label": "No", "value": "no"}],
                                                        placeholder='Select',
                                                        class_name='w-full',
                                                        value=form_data.ever_married if form_data else '',
                                                        required=True) }}
                            {{ Dropdown(id='residenceType',
                                                        name='residence_type',
                                                        label='Residence type',
                                                        options=residenceType_options,
                                                        placeholder='Select',
                                                        class_name='w-full',
                                                        value=form_data.residence_type if form_data else '',
                                                        required=True) }}
                            {{ Dropdown(id='hypertensiv_status',
                                                        name='hypertensiv_status',
                                                        label='Hypertensiv Status',
                                                        options=hypertensiv_options,
                                                        placeholder='Select',
                                                        class_name='w-full',
                                                        value=form_data.hypertensiv_status if form_data else '',
                                                        required=True) }}
                            {{ Dropdown(id='smoking_status',
                                                        name='smoking_status',
                                                        label='Smoking status',
                                                        options=smoking_status_options,
                                                        placeholder='Select',
                                                        class_name='w-full',
                                                        value=form_data.smoking_status if form_data else '',
                                                        required=True) }}
                            {{ Input(name='avg_glucose_level', label='Average Glucose Level', placeholder='Enter average glucose level', input_class='full_rounded_input', value=form_data.avg_glucose_level if form_data else '', required=True) }}
                            {{ Input(name='bmi', label='BMI', placeholder='Enter  BMI', input_class='full_rounded_input', value=form_data.bmi if form_data else '', required=True) }}
                        </div>
                    </div>
                    <div class="flex gap-4  justify-end ">
                        {% call Button(class_name='mt-5 max-w-[200px] w-full', button_class='default_button') %}
                            <span>Run Assessment</span>
                        {% endcall %}
                    </div>
                </form>
            {% endcall %}
        {% endif %}
        {% call Card(
            container_class='flex flex-col max-h-[calc(100vh-56px)]',
            title='Assessment History',
            ) %}
            <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar">
                <table class="min-w-full divide-y divide-slate-200">
                    <thead class="bg-slate-50 sticky top-0 z-10">
                        <tr>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Assessment ID</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Work Type</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Ever Married</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Residence Type</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Hypertension</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Glucose Level</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">BMI</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Smoking Status</th>
                            <th class="px-4 sm:px-6 py-3 text-right text-xs font-medium text-slate-600 uppercase tracking-wider">Stroke Status</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-200 bg-white">
                        {% if assessments %}
                            {% for a in assessments %}
                                <tr class="hover:bg-slate-50">
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a._id }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.work_type | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.ever_married | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.residence_type | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">
                                        {% if a.hypertensiv_status == 1 %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.avg_glucose_level }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.bmi }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.smoking_status | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-right">
                                        <span class="inline-flex items-center gap-1 text-gray-600">N/A</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9" class="px-4 sm:px-6 py-6 text-center text-slate-500">No assessments yet.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endcall %}
        {% call Modal(
            id='addContactModal',
            class_name='max-w-lg') %}
            <h2 class="text-xl font-semibold text-primary-black mb-4">Add Emergency Contact</h2>
            <form method="post"
                  action="{{ url_for('add_emergency_contact', patient_id=patient.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="space-y-4">
                    <div class="flex justify-between items-center gap-4">
                        {{ Input(label='First Name', placeholder='Enter first name', input_class='full_rounded_input', name='first_name', required=True) }}
                        {{ Input(label='Last Name', placeholder='Enter last name', input_class='full_rounded_input', name='last_name', required=True) }}
                    </div>
                    <div class="flex justify-between items-center gap-4">
                        {{ Input(label='Phone Number', placeholder='Enter phone number', input_class='full_rounded_input', name='phone_number', container_class='flex-1', input_type='tel', required=True) }}
                        {{ Dropdown(id='relationship', name='relationship', label='Relationship', options=relationship_options,  placeholder='Select relationship', class_name='flex-1', required=True) }}
                    </div>
                </div>
                <div class="flex gap-4 justify-end mt-6">
                    {% call Button(on_click='closeModal("addContactModal")', type='button', class_name='max-w-[150px] w-full', button_class='default_button !bg-transparent !text-slate-700 border border-slate-300 hover:bg-slate-50') %}
                        Cancel
                    {% endcall %}
                    {% call Button(type='submit', class_name='max-w-[150px] w-full', button_class='default_button') %}
                        Create
                    {% endcall %}
                </div>
            </form>
        {% endcall %}
        {% for contact in emergency_contacts %}
            {% call Modal(
                id='editContactModal-' ~ contact._id,
                class_name='max-w-lg') %}
                <h2 class="text-xl font-semibold text-primary-black mb-4">Update Emergency Contact</h2>
                <form method="post"
                      action="{{ url_for('update_emergency_contact', patient_id=patient.id, contact_id=contact._id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="space-y-4">
                        <div class="flex justify-between items-center gap-4">
                            {{ Input(label='First Name', placeholder='Enter first name', input_class='full_rounded_input', name='first_name', value=contact.first_name, required=True) }}
                            {{ Input(label='Last Name', placeholder='Enter last name', input_class='full_rounded_input', name='last_name', value=contact.last_name, required=True) }}
                        </div>
                        <div class="flex justify-between items-center gap-4">
                            {{ Input(label='Phone Number', placeholder='Enter phone number', input_class='full_rounded_input', name='phone_number', input_type='tel', container_class='flex-1', value=contact.phone_number, required=True) }}
                            {{ Dropdown(id='relationship_' ~ contact._id, name='relationship', label='Relationship', options=relationship_options, placeholder='Select relationship', class_name='flex-1', value=contact.relationship, required=True) }}
                        </div>
                    </div>
                    <div class="flex gap-4 justify-end mt-6">
                        {% call Button(on_click='closeModal("editContactModal-' ~ contact._id ~ '")', type='button', class_name='max-w-[150px] w-full', button_class='default_button !bg-transparent !text-slate-700 border border-slate-300 hover:bg-slate-50') %}
                            Cancel
                        {% endcall %}
                        {% call Button(type='submit', class_name='max-w-[150px] w-full', button_class='default_button') %}
                            Update
                        {% endcall %}
                    </div>
                </form>
            {% endcall %}
            {% call Modal(
                id='deleteContactModal-' ~ contact._id,
                class_name='max-w-md') %}
                <h2 class="text-xl font-semibold text-primary-black mb-4">Delete Emergency Contact</h2>
                <p class="text-slate-600 mb-6">
                    Are you sure you want to delete <span class="font-medium">{{ contact.first_name }} {{ contact.last_name }}</span>? This action cannot be undone.
                </p>
                <form method="post"
                      action="{{ url_for('delete_emergency_contact', patient_id=patient.id, contact_id=contact._id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="flex gap-4 justify-end">
                        {% call Button(on_click='closeModal("deleteContactModal-' ~ contact._id ~ '")', type='button', class_name='max-w-[150px] w-full', button_class='default_button !bg-transparent !text-slate-700 border border-slate-300 hover:bg-slate-50') %}
                            Cancel
                        {% endcall %}
                        {% call Button(type='submit', class_name='max-w-[150px] w-full', button_class='default_button !bg-red-600 hover:bg-red-700 !text-white') %}
                            Delete
                        {% endcall %}
                    </div>
                </form>
            {% endcall %}
        {% endfor %}
    </div>
    <script>
        function openModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.remove('hidden');
            modal.classList.add('flex');
        }

        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    </script>
{% endblock %}
