{% extends "layouts/private_layout.html" %}
{% from "components/card.html" import render as Card %}
{% from "components/button.html" import render as Button %}
{% from "components/Input.html" import render as Input %}
{% from "components/dropdown.html" import render as Dropdown %}
{% block main_content %}
    {% set hypertensiv_options = [{"label": "Yes", "value": 1}, {"label": "No", "value": 0}] %}
    {% set residenceType_options = [{"label": "Urban", "value": "urban"}, {"label": "Rural", "value": "rural"}] %}
    {% set gender_options = [
        {
            "label": "Male",
            "value": "male"
        },
        {
            "label": "Female",
            "value": "female"
        },
        {
            "label": "Other",
            "value": "other"
        }
    ] %}
    {% set smoking_status_options = [
        {
            "label": "Formerly smoked",
            "value": "formerly_smoked"
        },
        {
            "label": "Never smoked",
            "value": "never_smoked"
        },
        {
            "label": "Smokes",
            "value": "smokes"
        },
        {
            "label": "Unknown",
            "value": "unknown"
        }
    ] %}
    {% set work_type = [
        {
            "label": "Private",
            "value": "private"
        },
        {
            "label": "Self Employed",
            "value": "self_employed"
        },
        {
            "label": "Children",
            "value": "children"
        },
        {
            "label": "Govt job",
            "value": "govt_job"
        },
        {
            "label": "Never worked",
            "value": "never_worked"
        }
    ] %}
    <div class="max-w-7xl mx-auto flex flex-col gap-6">
        {% set add_button %}
            <form action='{{ url_for("patient_management") }}' method="get">
                {% call Button(class_name='max-w-[150px] w-full', button_class='default_button !px-3 !text-sm') %}
                    Back
                {% endcall %}
            </form>
        {% endset %}
        {% call Card(
            container_class='flex flex-col max-h-[calc(100vh-100px)]',
            title='Patient Infomation',
            button=add_button
            ) %}
            <span class="text-sm text-gray-600">Patient ID: {{ patient.id }}</span>
            <form method="post"
                  action="{{ url_for('update_patient_route', patient_id=patient.id) }}">
                <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar h-[250px] md:h-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        {{ Input(label='First Name', placeholder='Enter your first name', name='first_name',input_class='full_rounded_input', value=patient.first_name, required=True) }}
                        {{ Input(label='Last Name', name='last_name', placeholder='Enter your last name', input_class='full_rounded_input', value=patient.last_name, required=True) }}
                        {{ Input(label='Email address', placeholder='Enter your email address', input_class='full_rounded_input', value=patient.email, disabled=True, required=True) }}
                        {{ Dropdown(id='gender',
                                                name='gender',
                                                label='Gender',
                                                options=gender_options,
                                                placeholder='Select Gender',
                                                class_name='flex-1', value=patient.gender, required=True) }}
                        {{ Input(label='Date of Birth', placeholder='Enter DOB', input_type='date', input_class='full_rounded_input', name='date_of_birth', id='date_of_birth', container_class='flex-1', value=patient.date_of_birth, required=True) }}
                    </div>
                </div>
                <div class="flex gap-4  justify-end ">
                    {% call Button(type='submit', class_name='mt-5 max-w-[200px] w-full', button_class='default_button') %}
                        Update
                    {% endcall %}
                </div>
            </form>
        {% endcall %}
        {% call Card(
            container_class='flex flex-col max-h-[calc(100vh-100px)]',
            title='Assessment',
            ) %}
            <form method="post"
                  action="{{ url_for('run_patient_assessment', patient_id=patient.id) }}">
                <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar h-[255px]">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 flex-1">
                        {{ Dropdown(id='occupationType',
                                                name='work_type',
                                                label='Occupation Type',
                                                options=work_type,
                                                placeholder='Select',
                                                class_name='w-full',
                                                required=True) }}
                        {{ Dropdown(id='ever_married',
                                                name='ever_married',
                                                label='Ever Married',
                                                options=[{"label": "Yes", "value": "yes"}, {"label": "No", "value": "no"}],
                                                placeholder='Select',
                                                class_name='w-full', required=True) }}
                        {{ Dropdown(id='residenceType',
                                                name='residence_type',
                                                label='Residence type',
                                                options=residenceType_options,
                                                placeholder='Select',
                                                class_name='w-full', required=True) }}
                        {{ Dropdown(id='hypertensiv_status',
                                                name='hypertensiv_status',
                                                label='Hypertensiv Status',
                                                options=hypertensiv_options,
                                                placeholder='Select',
                                                class_name='w-full', required=True) }}
                        {{ Dropdown(id=' smoking_status',
                                                name='smoking_status',
                                                label=' Smoking status',
                                                options=smoking_status_options,
                                                placeholder='Select',
                                                class_name='w-full', required=True) }}
                        {{ Input(name='avg_glucose_level', label='Average Glucose Level', placeholder='Enter average glucose level', input_class='full_rounded_input', required=True) }}
                        {{ Input(name='bmi', label='BMI', placeholder='Enter  BMI', input_class='full_rounded_input', required=True) }}
                    </div>
                </div>
                <div class="flex gap-4  justify-end ">
                    {% call Button(class_name='mt-5 max-w-[200px] w-full', button_class='default_button') %}
                        <span>Run Assessment</span>
                    {% endcall %}
                </div>
            </form>
        {% endcall %}
        {% call Card(
            container_class='flex flex-col max-h-[calc(100vh-56px)]',
            title='Assessment History',
            ) %}
            <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar">
                <table class="min-w-full divide-y divide-slate-200">
                    <thead class="bg-slate-50 sticky top-0 z-10">
                        <tr>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Assessment ID</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">
                                Hypertensiv Status
                            </th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Glucose level</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">BMI</th>
                            <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Smoking status</th>
                            <th class="px-4 sm:px-6 py-3 text-right text-xs font-medium text-slate-600 uppercase tracking-wider">Stroke status</th>
                            <th class="px-4 sm:px-6 py-3 text-right text-xs font-medium text-slate-600 uppercase tracking-wider">Prediction</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-200 bg-white">
                        {% if assessments %}
                            {% for a in assessments %}
                                <tr class="hover:bg-slate-50">
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a._id }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">
                                        {% if a.hypertensiv_status == 1 %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.avg_glucose_level }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.bmi }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ a.smoking_status | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-right">
                                        <span class="inline-flex items-center gap-1 {{ 'text-red-600' if a.stroke_status == 'positive' else 'text-green-600' }}">
                                            {{ a.stroke_status|capitalize }}
                                        </span>
                                    </td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">10%</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" class="px-4 sm:px-6 py-6 text-center text-slate-500">No assessments yet.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endcall %}
    </div>
{% endblock %}
