{% extends "layouts/private_layout.html" %}
{% from "components/card.html" import render as Card %}
{% from "components/button.html" import render as Button %}
{% from "components/modal.html" import render as Modal %}
{% from "components/Input.html" import render as Input %}
{% from "components/overview_card.html" import render as overview_cards %}
{% from "components/dropdown.html" import render as Dropdown %}
{% block main_content %}
    {% set options = [
        {
            "label": "Admin",
            "value": "admin"
        },
        {
            "label": "Doctor",
            "value": "doctor"
        },
        {
            "label": "Nurse",
            "value": "nurse"
        }
    ] %}
    <div x-data="{ inviteModalOpen: false, isdropdownOpen: false,  deactivateUserModal: false, activateUserModal:false, selectedUserId: null }">
        {{ overview_cards(overview_data=users_overview) }}
        <div class="max-w-7xl mx-auto mt-6">
            {% call Card(
                container_class='flex flex-col max-h-[calc(100vh-56px)]',
                title='Users',
                ) %}
                <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar">
                    <table class="min-w-full divide-y divide-slate-200">
                        <thead class="bg-slate-50 sticky top-0 z-10">
                            <tr>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">ID</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Date</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Name</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Email</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Role</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Status</th>
                                <th class="px-4 sm:px-6 py-3 text-right text-xs font-medium text-slate-600 uppercase tracking-wider">Action</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-200 bg-white">
                            {% for u in users %}
                                <tr class="hover:bg-slate-50">
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.id }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm font-medium text-slate-800">{{ u.created_at | format_date }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.first_name }} {{ u.last_name }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.email }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.role | capitalize }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">
                                        {% if u.is_active %}
                                            <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                Active
                                            </span>
                                        {% else %}
                                            <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                                                Inactive
                                            </span>
                                        {% endif %}
                                    </td>
                                    {% if u.role != 'super admin' %}
                                        {% if u.is_active %}
                                            <td class="px-4 sm:px-6 py-3 text-sm text-right space-x-2">
                                                <button @click="deactivateUserModal = true,selectedUserId = {{ u.id }}"
                                                        type="button"
                                                        class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-red-100 text-red-800 hover:bg-red-200 cursor-pointer">
                                                    Deactivate
                                                </button>
                                            </td>
                                        {% else %}
                                            <td class="px-4 sm:px-6 py-3 text-sm text-right space-x-2">
                                                <button @click="activateUserModal = true,selectedUserId = {{ u.id }}"
                                                        class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800 hover:bg-green-200 cursor-pointer">
                                                    Activate
                                                </button>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td class="px-4 sm:px-6 py-3 text-sm text-right space-x-2">
                                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-gray-100 text-gray-800">---</span>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="px-4 sm:px-6 py-6 text-center text-slate-500">No Users found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endcall %}
        </div>
        {% call Modal(
            id='deactivateUserModal',
            class_name='max-w-xl',
            is_open='deactivateUserModal') %}
            <h2 class="text-xl font-semibold text-primary-black mb-4">Deactivate User</h2>
            <form method="post"
                  :action="`{{ url_for('deactivate_user_route', user_id=0) }}`.replace('0', selectedUserId)">
                <p class="text-center text-lg">
                    Are you sure you want to deactivate user account with ID:<span x-text="selectedUserId" class="font-medium"></span> ?
                </p>
                <p class="text-base text-center font-semibold mt-6 mb-3">
                    Please note: <span class="text-red-600 font-normal">this action will restrict access to the system.</span>
                </p>
                <p class="text-sm text-center text-gray-600">You can reactivate the account at any time.</p>
                <div class="flex gap-4 justify-end mt-4">
                    {% call Button(type='button', button_class='default_button !bg-transparent !text-slate-700 border border-slate-300 hover:bg-slate-50', on_click='deactivateUserModal = false') %}
                        Cancel
                    {% endcall %}
                    {% call Button(type='submit', button_class='default_button !bg-red-600 hover:!bg-red-700', on_click='') %}
                        Deactivate
                    {% endcall %}
                </div>
            </form>
        {% endcall %}
        {% call Modal(
            id='activateUserModal',
            class_name='max-w-xl',
            is_open='activateUserModal') %}
            <h2 class="text-xl font-semibold text-primary-black mb-4">Activate User</h2>
            <form method="post"
                  :action="`{{ url_for('activate_user_route', user_id=0) }}`.replace('0', selectedUserId)">
                <p class="text-center text-lg">
                    Are you sure you want to activate user account with ID:
                    <span x-text="selectedUserId" class="font-medium"></span>?
                </p>
                <p class="text-base text-center font-semibold mt-6 mb-3">
                    Once activated,
                    <span class="text-blue-800 font-normal">the user will regain full access to the system.</span>
                </p>
                <p class="text-sm text-center text-gray-600">This action can be reversed by deactivating the user again.</p>
                <div class="flex gap-4 justify-end mt-4">
                    {% call Button(
                        type='button',
                        button_class='default_button !bg-transparent !text-slate-700 border border-slate-300 hover:bg-slate-50',
                        on_click='activateUserModal = false') %}
                        Cancel
                    {% endcall %}
                    {% call Button(
                        type='submit',
                        button_class='default_button',
                        on_click='') %}
                        Activate
                    {% endcall %}
                </div>
            </form>
        {% endcall %}
    </div>
{% endblock %}
