{% extends "layouts/private_layout.html" %}
{% from "components/card.html" import render as Card %}
{% from "components/button.html" import render as Button %}
{% from "components/modal.html" import render as Modal %}
{% from "components/Input.html" import render as Input %}
{% from "components/overview_card.html" import render as overview_cards %}
{% from "components/dropdown.html" import render as Dropdown %}
{% block main_content %}
    {% set options = [
        {
            "label": "  Admin",
            "value": "admin"
        },
        {
            "label": "Doctor",
            "value": "doctor"
        },
        {
            "label": "Nurse",
            "value": "nurse"
        }
    ] %}
    <h1 class="text-primary-black300 font-medium text-lg 640:text-xl pl-2">
        Welcome, {{ session.first_name }} {{ session.last_name }}!
    </h1>
    <div x-data="{ inviteModalOpen: false, isdropdownOpen: false }">
        {{ overview_cards(overview_data=users_overview) }}
        <div class="max-w-7xl mx-auto mt-6">
            {% call Card(
                container_class='flex flex-col max-h-[calc(100vh-56px)]',
                title='Users',
                ) %}
                <div class="flex flex-col flex-1 overflow-y-auto hidden-scrollbar">
                    <table class="min-w-full divide-y divide-slate-200">
                        <thead class="bg-slate-50 sticky top-0 z-10">
                            <tr>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">ID</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Date</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Name</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Email</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Role</th>
                                <th class="px-4 sm:px-6 py-3 text-left text-xs font-medium text-slate-600 uppercase tracking-wider">Staus</th>
                                <th class="px-4 sm:px-6 py-3 text-right text-xs font-medium text-slate-600 uppercase tracking-wider">Action</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-200 bg-white">
                            {% for u in users %}
                                <tr class="hover:bg-slate-50">
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.id }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm font-medium text-slate-800">{{ u.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.employee.first_name }} {{ u.employee.last_name }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.email }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">{{ u.employee.role }}</td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-slate-700">
                                        {% if u.is_active %}
                                            <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                Active
                                            </span>
                                        {% else %}
                                            <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                                                Inactive
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="px-4 sm:px-6 py-3 text-sm text-right space-x-2">
                                        <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-red-100 text-red-800 hover:bg-red-200 cursor-pointer">
                                            Deactivate
                                        </span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="px-4 sm:px-6 py-6 text-center text-slate-500">No Users found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endcall %}
        </div>
    </div>
{% endblock %}
