{% extends "layouts/public_layout.html" %}
{% from "components/Input.html" import render as Input %}
{% from "components/card.html" import render as Card %}
{% from "components/password_input.html" import render as password_input %}
{% from "components/button.html" import render as Button %}
{% block main_content %}
    <div class="w-full max-w-[423px]">
        <div class="flex items-center justify-center w-full mb">
            <!-- <img class="w-[134px]"
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="Logo" /> -->
            NEUROPREDICT
        </div>
        {% call Card() %}
            <form method="post" action='/'>
                <h2 class="text-xl 560:text-2xl text-primary-black text-center font-medium">Login</h2>
                {{ Input(label='Email Address', id='email', name='email', type=email, required=True, placeholder='Enter your email address', input_class='full_rounded_input', value=email or '') }}
                {{ password_input(label='Password', id='password', name='password', required=True, placeholder='Enter your password', input_class='full_rounded_input',  value=password or '') }}
                {% call Button(class_name='mt-6', button_class='default_button') %}
                    <span>Login</span>
                {% endcall %}
                <div class="mt-3 mb-2 flex justify-between">
                    <a href='{{ url_for("register") }}'
                       class="forgot_password cursor-pointer text-sm">New to the team? Sign up</a>
                    <a href='{{ url_for("forgot_password") }}'
                       class="forgot_password cursor-pointer text-sm">Forgot password?</a>
                </div>
            </form>
        {% endcall %}
    </div>
{% endblock %}
