{% extends "layouts/public_layout.html" %}
{% from "components/Input.html" import render as Input %}
{% from "components/card.html" import render as Card %}
{% from "components/password_input.html" import render as password_input %}
{% from "components/button.html" import render as Button %}
{% block main_content %}
    <div class="w-full max-w-[423px]">
        <div class="flex items-center justify-center w-full mb">
            <!-- <img class="w-[134px]"
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="Logo" /> -->
            NEUROPREDICT
        </div>
        {% call Card() %}
            <form action="/">
                <h2 class="text-xl 560:text-2xl text-primary-black text-center font-medium">Reset Password</h2>
                {{ Input(label='New Password', placeholder='Enter new password', input_class='full_rounded_input') }}
                {{ password_input(label='Confirm password', placeholder='Enter confirm password', input_class='full_rounded_input') }}
                {% call Button(class_name='mt-6', button_class='default_button') %}
                    <span>Submit</span>
                {% endcall %}
            </form>
        {% endcall %}
    </div>
{% endblock %}
