@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* INPUT COMPONENTS */
  .input {
    @apply w-full focus:ring-0 focus:outline-none font-medium;
  }

  .input_label {
    @apply text-primary-black font-medium text-sm mb-[10px] inline-block;
  }

  .full_rounded_input {
    @apply rounded-full h-10 border text-base px-4 py-3 border-primary-gray100 focus:border-primary-blue placeholder:text-primary-gray600 placeholder:font-normal text-primary-gray_main;
  }

  /* BUTTON */
  .button {
    @apply py-3 px-6 rounded-3xl h-10 flex items-center justify-center font-semibold;
  }
  .outline_button {
    @apply border border-primary-main bg-transparent gap-[10px] text-primary-main;
  }
  .default_button {
    @apply bg-primary-blue gap-[10px] text-primary-white w-full;
  }
  .subtle_button {
    @apply bg-primary-blue20 gap-[10px] text-primary-main;
  }

  /* AUTH */
  .forgot_password {
    @apply text-primary-blue border-b border-primary-blue
 hover:border-primary-blue font-medium text-base w-fit flex items-center gap-1 cursor-pointer hover:text-[#3a7fce];
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows[type="number"] {
  -moz-appearance: textfield;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  font: 14px;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  min-width: 250px;
  color: #222;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s ease-out forwards, fadeOut 0.5s ease-in forwards 3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.toast-success {
  background: #e6f8ed;
  color: #1f7a34;
  border-color: #b0e2bf;
}

.toast-error {
  background: #fdecea;
  color: #b00000;
  border-color: #f3b2a8;
}

.toast-warning {
  background: #fff7d1;
  color: #8a6f00;
  border-color: #f0e29b;
}

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
