{% macro render(
    leading_icon='',
    trailing_icon='',
    class_name='',
    button_class='',
    disabled=False,
    type='submit',
    on_click=''
    ) %}
    <div class="relative {{ class_name }}">
        <button type="{{ type }}"
                {% if disabled %}disabled{% endif %}
                {% if on_click %}@click="{{ on_click }}"{% endif %}
                class="button {% if disabled %}cursor-not-allowed bg-opacity-50{% endif %} {{ button_class }}">
            {{ leading_icon }}
            {{ caller() }}
            {{ trailing_icon }}
        </button>
    </div>
{% endmacro %}
