{% macro render(
    label='',
    input_class='',
    container_class='',
    helper='',
    placeholder='',
    id='',
    name='',
    value='',
    required=False,
    onClick=None
    ) %}
    <div class="relative mt-3 {{ container_class }}">
        {% if label %}
            <label class="input_label" {% if id %}for="{{ id }}"{% endif %}>{{ label }}</label>
        {% endif %}
        <div class="relative">
            <input {% if name %}name="{{ name }}"{% endif %}
                   {% if onClick %}onclick="{{ onClick }}"{% endif %}
                   {% if required %}required{% endif %}
                   {% if id %}id="{{ id }}"{% else %}id="password-{{ name }}"{% endif %}
                   {% if value %}value="{{ value }}"{% endif %}
                   type="password"
                   placeholder="{{ placeholder }}"
                   class="input !pr-11 {{ input_class }}" />
            <button type="button"
                    onclick="togglePasswordVisibility(this)"
                    class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>
        {% if helper %}<div class="mt-1 text-sm text-gray-600">{{ helper }}</div>{% endif %}
    </div>
    <script>
        function togglePasswordVisibility(button) {
            const input = button.previousElementSibling;
            const icon = button.querySelector('i');
            
            if (input.type === 'password') {
                input.type = 'text';
                icon.className = 'fa-solid fa-eye-slash';
            } else {
                input.type = 'password';
                icon.className = 'fa-solid fa-eye';
            }
        }
    </script>
{% endmacro %}
