{% macro render(
    label='',
    input_class='',
    container_class='',
    helper='',
    placeholder='',
    id='',
    name='',
    value='',
    required=False,
    onClick=None
    ) %}
    <div class="relative mt-3 {{ container_class }}">
        {% if label %}
            <label class="input_label" {% if id %}for="{{ id }}"{% endif %}>{{ label }}</label>
        {% endif %}
        <div class="relative">
            <input {% if name %}name="{{ name }}"{% endif %}
                   {% if onClick %}onclick="{{ onClick }}"{% endif %}
                   {% if required %}required{% endif %}
                   {% if id %}id="{{ id }}"{% endif %}
                   {% if value %}value="{{ value }}"{% endif %}
                   {% if name %}name="{{ name }}"{% endif %}
                   type="password"
                   placeholder="{{ placeholder }}"
                   class="input !pr-11 {{ input_class }}" />
            <!-- <div onclick="this.previousElementSibling.type = this.previousElementSibling.type === 'password' ? 'text' : 'password'; this.innerHTML = this.innerHTML === '{{ eye_icon|safe }}' ? '{{ slashed_eye_icon|safe }}' : '{{ eye_icon|safe }}';" class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer">{{ eye_icon|safe }}</div> -->
        </div>
        {% if helper %}<div class="mt-1 text-sm text-gray-600">{{ helper }}</div>{% endif %}
    </div>
{% endmacro %}
