{% macro render(pages, current_path='') %}
    <nav class=" w-[70px] 640:w-[110px] 1180:w-[256px] h-full sticky top-0  overflow-hidden  pb-5 pt-10 flex flex-col gap-11 880:gap-7 1180:gap-14 z-10 bg-primary-blue20">
        <div class=" flex items-center justify-center w-full !h-[50px]">
            <!-- <img class="w-[45px] 880:w-[80px] 1180:w-[120px] 1400:w-[134px] !h-[45px]"
      src="{{ url_for('static', filename='images/chilling.png') }}"
      alt="Logo"
      width=""
      height="" /> -->
            <h2>NEUROPREDICT</h2>
        </div>
        <div class="flex-1 flex flex-col justify-between ">
            <ul class=" flex-1 flex flex-col items-center px-4 gap-6 880:gap-4 ">
                {% for page in pages %}
                    {% set is_active = current_path == page.url or current_path.startswith(page.url ~ '/') %}
                    <li class="w-full px-3  py-[10px] 1560:py-3  text-primary-gray600 font-medium {% if is_active %}bg-primary-blue text-white {% else %}{% endif %}  px-4 py-3 rounded-lg text-slate-400  hover:text-white transition-all group">
                        <a href="{{ page.url }}"
                           class="flex items-center gap-4 w-full {% if is_active %}text-white{% else %}text-primary-black{% endif %} rounded-lg transition-colors duration-200">
                            <i class="{{ page.icon }} text-lg 880:text-base 1180:text-lg"></i>
                            <span class="hidden 1180:inline text-sm font-medium">{{ page.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="1180:items-start gap-6 880:gap-4 pl-4 640:pl-6">
                <li class=" w-full px-3  py-[10px] 1560:py-3  text-primary-gray600 font-medium  rounded-lg text-slate-400  hover:text-white transition-all group ">
                    <a href='{{ url_for("login") }}'
                       class="flex items-center gap-4 w-full  text-red-700 rounded-lg transition-colors duration-200 !h-[32px]">
                        <i class="fas fa-sign-out-alt text-lg 880:text-base 1180:text-lg"></i>
                        <span class="hidden 1180:inline text-sm font-medium">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}
